
#mainImage {
    height: 70%;
}

.artist {
    width: 160px;
    display: inline-block;
    margin: 4px;
}

.artist div {
    height: 160px;
    background-size: cover;
}

.artist span {
    text-align: center;
    display: block;
    margin-top: 10px;
}

.artist span h4 {
    margin-top: 0px;
}

@media all and (max-width: 1200px) {
    
}

